.aa-prod-view-bottom {
    border-top: 1px solid #ddd;
    margin-top: 10px;
    padding-top: 10px;
}
.aa-product-avilability span {
    color: #ff6666;
}
.modal-dialog {
    margin: 120px auto;
}

.aa-product-img img {
    width: 250px;
    height: 300px;
}

.slick-slide img {
    display: inline-block;
}
.aa-cartbox-img img{
    width: 150px;
    height: 150px;
}
/*@media only screen and (max-width: 480px){*/
    /*.large{*/
        /*display: none;*/
    /*}*/
/*}*/
a:hover{
    cursor: pointer;
}
.fa-trash-o:hover{
    color: #ff6666;
    transition: 0.3s;
    cursor: pointer;
}
#Hieu-dropdown{
    min-width: 67px;
    padding: 5px 0px;
    margin: 0px -5px 0px;
}
#Hieu-dropdown li a{
    width: 100%;
}
#Hieu-dropdown li {
    text-align: center !important;
}
.aa-login-form input[type="text"], .aa-login-form input[type="password"] {
    margin-bottom: 8px;
}
#login-modal .modal-dialog {
    margin: 170px auto;
    width: 340px;
}
.aa-login-form .alert-danger{
    margin-bottom: 0px !important;
}
/*.aa-cartbox-summary{*/
    /*height: 380px;*/
    /*overflow-y: scroll;*/
/*}*/
.Hieu-cart{
    padding: 5px 10px !important;
}
.swal2-styled.swal2-confirm {
    background-color: #ff6666 !important;
    font-size: 1.4625em !important;
}
.swal2-popup {
    width: 40em !important;
}
input[type="text"], input[type="password"], textarea, select {
    outline: none !important;
}
#aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-product-review-area .aa-review-nav li .media-body .aa-product-rating span {
    color: #ff6600;
}
